{% load staticfiles %}
<html>
<head>

<link rel="stylesheet" href="{% static 'css/table.css' %}" />


    <title>Courses</title>
</head> 
<body>
 <h1>Courses</h1>
<table border="1" style="width:60%">
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Classroom</th>
      <th>Times</th>
      <th>Teacher</th>
  </tr>
 <ul> {% for course in course_list %} 
  <tr>
    <td>{{ course.name }}</td>
    <td>{{ course.code }}</td>
    <td>{{ course.classroom }}</td>
    <td>{{ course.times }}</td>
    <td>{{ course.teacher }}</td>
  </tr>

{% endfor %} 
</ul> 
</table>

</body>
</html>
