Most people hear the word 'physics' and run for cover. But it's not just for rocket scientists! You are surrounded by physics all the time, and whether you realize it or not, you use physics every day. Physics, the study of matter and energy, is an ancient and broad field of science.

The word 'physics' comes from the Greek 'knowledge of nature,' and in general, the field aims to analyze and understand the natural phenomena of the universe.

One thing that may come to mind when you think of physics is the many scientific laws, which are statements describing phenomena that have been repeatedly tested and confirmed. This is actually an important part of physics. Physicists perform and repeat experiments, sometimes ad nauseam, to formulate these laws and explain how our universe works. These laws (such as gravity and Newton's laws of motion) are so thoroughly tested that they are accepted as 'truths,' and they can be used to help us predict how other things will behave.

Because physics explains natural phenomena in the universe, it's often considered to be the most fundamental science. It provides a basis for all other sciences - without physics, you couldn't have biology, chemistry, or anything else!
Physics has been around for a long, long time. We consider the Ancient Greeks to be the 'founders' of early physics, as they pushed for a better understanding of the natural world around them. This includes some major players you are likely familiar with, like Socrates, Plato, and Aristotle.

Modern physics came centuries later, with folks like Copernicus, Galileo, and Newton . There were many critical scientific breakthroughs during this time as people discovered more and more about our universe.

In fact, much of the knowledge we take for granted was discovered during this Scientific Revolution. For example, Copernicus was the first to demonstrate that the earth revolves around the sun, not the other way around.

Galileo described many fundamental physical concepts, but he also made many astronomical discoveries, such as sunspots and planetary satellites, by perfecting the telescope.

Physics certainly wouldn't be the same without Isaac Newton, who you will no doubt learn much about in your physics studies. He is probably most famous for his three laws of motion and the law of universal gravitation. Newton is also credited with inventing calculus, though you may or may not agree with that being a good thing!